.App {
  width: 90%;
  height: auto;
  margin: 0px auto;
  margin-top: 40;
  margin-bottom: 40;
  min-height: 750px;
}

body {
  background-color: red;
  background-size: cover;
}

.selected {
  color: red;
}

.header {
  background-color: rgb(104, 100, 100);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
  border-bottom: 1px solid red;
}



.menu>ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.menu li {
  text-transform: uppercase;
  flex-direction: row;
  color: red;
  justify-content: center;
  padding: 2px;
}

/*estilos de las listas de las peliculas y series*/
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  list-style: none;

}

.item {
  display: flex;
  margin: 10px auto;
  padding: 12px;
  border-radius: 5px;
  background-color: #020202;
  border-radius: 0 0 20px 20px;
  /* Color de fondo del cuadro */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  margin-bottom: 10px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  height: 500px;
  margin-top: 0px;
  background-color: rgb(8, 8, 8);

}

.contenido img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.contenido p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #f7f4f4;
  margin: 0 auto;
  padding: 10px;
}

/* BOTONES DE FAVORITOS Y DE VISTO */

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.buttons button {
  width: 25px;
  height: 40px;
  padding: 2px 24px;
  margin: 0 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #000;
  background-size: cover;
}


.buttonMg {
  width: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712547474/heart-emoji_dqip4t.png');
  background-size: 100%
}

.buttonVisto {
  width: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712546515/ojo-removebg-preview_1_ths424.png');
  background-size: 100%;
}