.App {
  width: 90%;
  height: auto;
  margin: 0px auto;
  margin-top: 40;
  margin-bottom: 40;
  min-height: 750px;
}

body {
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712550726/collagepelicula_qok9gy.jpg');
  background-size: 100%;
}

.selected {
  color: red;
}

/*estilos navbar*/

.header {
  width: 2000px;
  background-color: rgb(3, 3, 3);
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;

}


.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu li {
  margin-right: 80px;
  padding: 60px;
  color: #f00505;

}

.menu li a {
  font-size: 25px;
  color: #f80505;
  font-weight: bold;
  text-decoration: none;
}

.menu li:first-child {
  margin-left: 15px;
}

.menu li:last-child {
  margin-right: 0;
}


/*estilos home*/

.contenedor-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: 100%;
}

.bienvenida {
  width: 1400px;
  background-color: #050505;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.bienvenida1 {
  width: 1400px;
  background-color: #080808;
  padding: 20px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}



.bienvenida h3 {
  font-size: 80px;
  color: #f00505;
}

.bienvenida1 h2 {
  font-size: 36px;
  color: #f30303;
}

.seccion-login {
  margin-top: 50px;
}

.seccion-signup {
  width: 800px;
  margin-bottom: 25px;
  background-color: #080808;
  padding: 20px;
  border-radius: 0 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.seccion-signup p {
  font-size: 30px;
  color: hsl(0, 9%, 96%);
}

.seccion-signup button {
  width: 40%;
  height: 45px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #ff1100;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

/*estilos del formulario de la vista login.jsx*/
.formulario {
  width: 800px;
  height: 250px;
  background-color: #050505;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: flex;
  margin-bottom: 10px;
  font-size: 22px;
  color: #f7f4f4;
}

.formulario input[type="email"],
.formulario input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}


.formulario button[type="submit"] {
  width: 98%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0800;
  color: #f5f2f2;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

/*estilos formulario signup*/
.contenedor-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 50px;
}

.formulario-signup {
  width: 800px;
  height: 650px;
  background-color: #050505;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-signup label {
  display: flex;
  margin-bottom: 10px;
  font-size: 22px;
  color: #f7f4f4;
}

.formulario-signup input[type="email"],
.formulario-signup input[type="password"],
.formulario-signup input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}


.formulario-signup button[type="submit"] {
  width: 98%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0800;
  color: #f5f2f2;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

/*Barra busqueda pelis y series*/
.formulario1 {
  margin: 20px;
}

.formulario1-input {
  width: 95%;
  height: 40px;
  border-radius: 50px;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-left: 15px;
  padding-left: 45px;

}

/*estilos de las listas de las peliculas y series*/
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  list-style: none;

}

.item {
  display: flex;
  margin: 10px auto;
  padding: 12px;
  border-radius: 5px;
  background-color: #020202;
  border-radius: 0 0 20px 20px;
  min-height: 200px;
  margin-bottom: 10px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  height: 500px;
  margin-top: 0px;
  background-color: rgb(8, 8, 8);

}

.contenido img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.contenido p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #f7f4f4;
  margin: 0 auto;
  padding: 10px;
}

/*Detalles pelicula*/
.detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;

}

.item1 {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  height: 85%;
  border: 1px solid #070707;
  border-radius: 55px;
  background-color: #030303;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-grow: 1;
}

.contenido1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.contenido1 img {
  width: 65%;
  height: 85%;
  margin-bottom: 10px;
  border-radius: 25px;
}

.contenido1 p {
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  color: #f7f4f4;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
}

.contenido1,
.contenido2 {
  flex: 1;
}

.contenido2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contenido2 h4 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  color: #f7f4f4;
  margin: 25px;
  padding: 10px;
}

.contenido2 p {
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  color: #f7f4f4;
  margin: 25px;
  padding: 10px;
}

.lista-genero {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.item-genero {
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  color: #f7f4f4;
  margin-bottom: 15px;
  padding: 10px;
}

/* BOTONES DE FAVORITOS Y DE VISTO */

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.buttons button {
  width: 25px;
  height: 40px;
  padding: 2px 24px;
  margin: 0 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #000;
  background-size: cover;
}


.buttonMg {
  width: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712547474/heart-emoji_dqip4t.png');
  background-size: 100%
}

.buttonVisto {
  width: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712546515/ojo-removebg-preview_1_ths424.png');
  background-size: 100%;
}

/*Botones de perfil pelicula*/

.buttons1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;
}

.buttons1 button {
  width: 100px;
  height: 85px;
  padding: 2px 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #000;
  background-size: cover;
}


.buttonMg1 {
  width: 50px;
  margin-right: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712547474/heart-emoji_dqip4t.png');
  background-size: 100%
}

.buttonVisto1 {
  width: 50px;
  margin-left: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712546515/ojo-removebg-preview_1_ths424.png');
  background-size: 100%;
}

/*IPHONE PRO MAX */
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {


  .App {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 600px;
  }

  .list {
    padding: 2px;
  }

  .item {
    padding: 8px;
    margin-bottom: 8px;
  }

  .contenido {
    max-width: 180px;
    height: 400px;
  }

  .contenido img {
    max-width: 180px;
  }

  .contenido p {
    font-size: 14px;
    padding: 8px
  }


  .buttons button {
    width: 20px;
    height: 30px;
    padding: 2px 20px;
    margin: 0 8px;
  }

  .buttonMg,
  .buttonVisto {
    width: 40px;
  }

  /*detalles series peliculas*/
  .detalle {
    padding: 2px;
  }

  .item1 {
    padding: 8px;
    margin-bottom: 8px;
  }

  .contenido1,
  .contenido2 {
    width: 100%;
  }

  .contenido1,
  .contenido2 {
    max-width: 180px;
    height: 400px;
  }

  .contenido1 img {
    max-width: 180px;
  }

  .contenido1 p {
    font-size: 14px;
    padding: 8px;
  }

  .contenido2 h4 {
    font-family: Arial, sans-serif;
    font-size: 8px;
    font-weight: bold;
    line-height: 1.5;
    color: #f7f4f4;
    margin: 15px;
    padding: 8px;
  }

  .contenido2 p {
    font-size: 14px;
    padding: 8px
  }

  .lista-genero {
    font-size: 14px;
    padding: 8px
  }

  .item-genero {
    margin-bottom: 15px;
    padding: 10px;
  }

  .buttons1 button {
    width: 20px;
    height: 30px;
    padding: 2px 20px;
    margin: 0 8px;
  }

  .buttonMg1,
  .buttonVisto1 {
    width: 40px;
  }


}