.App {
  width: 90%;
  height: auto;
  margin: 0px auto;
  margin-top: 40;
  margin-bottom: 40;
  min-height: 750px;
}

body {
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1713477564/movie-background-collage_23-2149876030_l79yao.avif');
  background-size: 100%;
  Font-family: Baskerville;
}

.selected {
  color: red;
}

/*estilos navbar logeada*/

.header {
  width: 100%;
  height: 150px;
}

.menu {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 70%;

}

.menu ul {
  width: 75%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-image: url(https://res.cloudinary.com/josepcortes/image/upload/v1713402455/desktop-wallpaper-movie-collage-posted-by-ryan-peltier-80s-movie-collage_le4f2r.jpg);
  border: 1px solid rgb(241, 238, 238);
}

.navbar {

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
  padding: 15px;
}

.navbar li:first-child {
  margin-left: 5%;
}

.navbar li:last-child {
  margin-right: 15%;
}

.navbar li a {
  font-size: 25px;
  color: #f8f4f4;
  font-weight: bold;
  text-decoration: none;
}

.navbar-button {
  padding: 15px;
  background-color: #f70404;
  border-radius: 35%;
}

/*navbar no logeada*/
/*navbar LOGEADA */

.header {
  width: 100%;
  height: 150px;
}

.menu-1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 70%;

}

.menu-1 ul {
  width: 75%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-image: url(https://res.cloudinary.com/josepcortes/image/upload/v1713402455/desktop-wallpaper-movie-collage-posted-by-ryan-peltier-80s-movie-collage_le4f2r.jpg);
  border: 1px solid rgb(241, 238, 238);
}

.navbar-1 {

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-1 li {
  margin-left: 20px;
  padding: 15px;
}

.navbar-1 li:first-child {
  margin-left: 15%;
}

.navbar-1 li:last-child {
  margin-right: 15%;
}

.navbar-1 li a {
  font-size: 25px;
  color: #f5f0f0;
  font-weight: bold;
  text-decoration: none;
}

.navbar-button {
  padding: 15px;
  background-color: #ff0000;
  border-radius: 35%;
}






/*estilos home*/

.contenedor-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.bienvenida {
  width: 1400px;
  background-color: #050505;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.bienvenida1 {
  width: 1400px;
  background-color: #080808;
  padding: 20px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}



.bienvenida h3 {
  font-size: 80px;
  color: #f00505;
}

.bienvenida1 h2 {
  font-size: 36px;
  color: #f30303;
}

.seccion-login {
  margin-top: 50px;
  padding: 15px;
}

.seccion-signup {
  width: 500px;
  margin-bottom: 65px;
  background-color: #080808;
  padding: 20px;
  border-radius: 0 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.seccion-signup p {
  font-size: 30px;
  color: hsl(0, 9%, 96%);
}

.seccion-signup button {
  width: 40%;
  height: 45px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #ff1100;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

/*estilos del formulario de la vista login.jsx*/
.formulario {
  width: 800px;
  height: 350px;
  background-color: #050505;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: flex;
  margin-bottom: 30px;
  font-size: 22px;
  color: #f7f4f4;
}

.formulario input[type="email"],
.formulario input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}


.formulario button[type="submit"] {
  width: 98%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0800;
  color: #f5f2f2;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

/*estilos profile*/


.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vistas-favoritas {
  height: 100vh;
  margin-top: 150px;

}




.contenedor-edit {
  display: flex;
  margin-top: 5%;
  margin-right: 10%;

}

.formulario-edit {
  flex-wrap: wrap;
  width: 800px;
  height: 550px;
  background-color: #050505;
  align-items: center;
  padding: 20px;
  border-radius: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15%;
}

.contenedor-inputImage {
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 22px;
}

.contenedor-inputImage input[type="file"] {
  padding: 30px;
}

.formulario-edit h4 {
  color: rgb(236, 14, 14);
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.formulario-edit-label {
  display: flex;
  margin-bottom: 30px;
  font-size: 22px;
  color: #f7f4f4;
}

.formulario-edit input[type="email"],
.formulario-edit input[type="password"],
.formulario-edit input[type="text"] {
  width: 95%;
  padding: 15px;
  margin-bottom: 40px;
  border: 1px solid #333;
  border-radius: 5px;
}


.formulario-edit button[type="submit"] {
  width: 98%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0800;
  color: #f5f2f2;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}



.titulo {
  text-align: center;
  width: 25%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 25%;
  background-color: black;
}

.titulo h3 {
  margin: 0;
  color: rgb(241, 5, 5);
  font-size: 35px;
}


/*estilos formulario signup*/
.contenedor-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 50px;
}

.formulario-signup {
  width: 800px;
  height: 650px;
  background-color: #050505;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-signup label {
  display: flex;
  margin-bottom: 10px;
  font-size: 22px;
  color: #f7f4f4;
}

.formulario-signup input[type="email"],
.formulario-signup input[type="password"],
.formulario-signup input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}


.formulario-signup button[type="submit"] {
  width: 98%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0800;
  color: #f5f2f2;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}

/*Barra busqueda pelis y series*/
.formulario1 {
  margin: 20px;
}

.formulario1-input {
  width: 95%;
  height: 40px;
  border-radius: 50px;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-left: 15px;
  padding-left: 45px;

}

/*estilos de las listas de las peliculas y series*/
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  list-style: none;

}

.item {
  display: flex;
  margin: 10px auto;
  padding: 12px;
  border-radius: 5px;
  background-color: #fdfafa;
  border-radius: 0 0 20px 20px;
  min-height: 200px;
  margin-bottom: 10px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  height: 500px;
  margin-top: 0px;
  background-color: #fdfafa;

}

.contenido img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.contenido p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #050505;
  margin: 0 auto;
  padding: 10px;
}



/* BOTONES DE FAVORITOS Y DE VISTO */

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.buttons button {
  width: 25px;
  height: 40px;
  padding: 2px 24px;
  margin: 0 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-size: cover;
}


.buttonMg {
  width: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712547474/heart-emoji_dqip4t.png');
  background-size: 100%
}

.buttonVisto {
  width: 50px;
  background-image: url('https://res.cloudinary.com/josepcortes/image/upload/v1712546515/ojo-removebg-preview_1_ths424.png');
  background-size: 100%;
}






/*IPHONE PRO MAX */
@media only screen and (device-width: 435px) and (device-height: 935px) {


  .App {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 600px;
  }

  .body {
    background-size: 100%;
  }


  /*estilos listas de peliculas y listas de series*/

  .list {
    padding: 2px;
  }

  .item {
    padding: 8px;
    margin-bottom: 8px;
  }

  .contenido {
    max-width: 180px;
    height: 400px;
  }

  .contenido img {
    max-width: 180px;
  }

  .contenido p {
    font-size: 14px;
    padding: 8px
  }


  .buttons button {
    width: 20px;
    height: 30px;
    padding: 2px 20px;
    margin: 0 8px;
  }

  .buttonMg,
  .buttonVisto {
    width: 40px;
  }


  /*navbar LOGEADA */
  header {
    width: 100%;
    height: 75px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-image: url(https://res.cloudinary.com/josepcortes/image/upload/v1713402455/desktop-wallpaper-movie-collage-posted-by-ryan-peltier-80s-movie-collage_le4f2r.jpg);
    border: 0.5px solid rgb(241, 238, 238);
  }

  .navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar li {
    margin-left: 10px;
    padding: 5px;
  }

  .navbar li a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-button {
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #ff0800;
    color: #050505;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  /*NAVBAR NO LOGEADA*/
  .menu-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 70%;
  }

  .menu-1 ul {
    width: 55%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-image: url(https://res.cloudinary.com/josepcortes/image/upload/v1713402455/desktop-wallpaper-movie-collage-posted-by-ryan-peltier-80s-movie-collage_le4f2r.jpg);
    border: 0.5px solid rgb(241, 238, 238);
  }

  .navbar-1 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-1 li {
    margin-left: 10px;
    padding: 5px;
  }

  .navbar-1 li a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

  /*Form login*/

  .seccion-login {
    margin-top: 20px;
    /* Reducido el margen superior */
    padding: 10px;
    /* Ajustado el padding */
  }

  .seccion-signup {
    width: 90%;
    /* Ajustado el ancho al 90% */
    margin-bottom: 30px;
    /* Añadido margen inferior */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .seccion-signup p {
    font-size: 18px;
    /* Reducido el tamaño del texto */
  }

  .seccion-signup button {
    width: 80%;
    /* Ajustado el ancho al 80% */
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    /* Reducido el tamaño del texto */
  }

  .formulario {
    width: 90%;
    /* Ajustado el ancho al 90% */
    max-width: 400px;
    margin: 0 auto;
    background-color: #050505;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .formulario label {
    margin-bottom: 10px;
    /* Reducido el margen inferior */
    font-size: 16px;
    /* Reducido el tamaño del texto */
    color: #f7f4f4;
  }

  .formulario input[type="email"],
  .formulario input[type="password"] {
    width: 100%;
    /* Ancho completo */
    padding: 10px;
    margin-bottom: 10px;
    /* Reducido el margen inferior */
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    /* Reducido el tamaño del texto */
  }

  .formulario button[type="submit"] {
    width: 100%;
    /* Ancho completo */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0800;
    color: #f5f2f2;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }


  .profile {
    display: flex;
    flex-direction: column;
    /* Cambiado a column para dispositivos móviles */
    align-items: center;
    /* Centrado horizontal */
  }

  .vistas-favoritas {
    height: auto;
    /* Altura automática para adaptarse al contenido */
    margin-top: 50px;
    /* Reducido el margen superior */
  }

  .contenedor-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .formulario-edit {
    width: 90%;
    /* Ajustado el ancho al 90% */
    max-width: 400px;
    /* Establecido un ancho máximo */
    height: auto;
    /* Altura automática para adaptarse al contenido */
    background-color: #050505;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    /* Reducido el margen superior */
  }

  .contenedor-inputImage {
    color: white;
    align-items: center;
    /* Centrado horizontal */
    justify-content: center;
    /* Centrado vertical */
    margin-bottom: 20px;
    /* Reducido el margen inferior */
    font-size: 18px;
    /* Reducido el tamaño del texto */
  }

  .contenedor-inputImage input[type="file"] {
    padding: 15px;
    /* Reducido el padding */
  }

  .formulario-edit h4 {
    color: rgb(236, 14, 14);
    font-size: 18px;
    /* Reducido el tamaño del texto */
  }

  .formulario-edit-label {
    margin-bottom: 15px;
    /* Reducido el margen inferior */
    font-size: 18px;
    /* Reducido el tamaño del texto */
    color: #f7f4f4;
  }

  .formulario-edit input[type="email"],
  .formulario-edit input[type="password"],
  .formulario-edit input[type="text"] {
    width: 100%;
    /* Ancho completo */
    padding: 10px;
    margin-bottom: 15px;
    /* Reducido el margen inferior */
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    /* Reducido el tamaño del texto */
  }

  .formulario-edit button[type="submit"] {
    width: 100%;
    /* Ancho completo */
    padding: 10px;
    margin-top: 15px;
    /* Añadido margen superior */
    border: none;
    border-radius: 5px;
    background-color: #ff0800;
    color: #f5f2f2;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .titulo {
    text-align: center;
    width: 50%;
    /* Cambiado el ancho al 50% */
    max-width: 300px;
    /* Establecido un ancho máximo */
    border: 2px solid black;
    padding: 10px;
    border-radius: 25%;
    background-color: black;
  }

  .titulo h3 {
    margin: 0;
    color: rgb(241, 5, 5);
    font-size: 28px;
    /* Reducido el tamaño del texto */
  }

  /* Estilos adicionales según sea necesario */
}